/* ---- RESPONSIVE ----- */
/* ---- MOBILE ----- */
@media (max-width: 768px) {
  .why .why-cards .crd img {
    width: 200px;
  }
  .why .why-cards {
    gap: 0px;
  }
  .why .headline {
    font-size: var(--fszMobile);
  }
}
