.hero {
  padding-top: 70px;
  background: var(--dark);
  height: 95vh;
  color: var(--white);
}
.hero .hero-texts h1 {
  font-size: 2.5rem;
  font-family: var(--ffPac);
  text-align: center;
  margin-bottom: 20px;
  margin-top: -90px;
  width: 500px;
}
.hero .hero-texts h1 span {
  /* font-family: var(--ffPac); */
  color: var(--mainColor);
}
.hero .hero-texts h4 {
  width: 400px;
  font-size: 0.8rem;
  text-align: center;
  margin: 0 auto;
}
.hero .hero-texts .button {
  margin-top: 50px;
  cursor: pointer;
  z-index: 1000;
  position: relative;
}
.hero .hero-img {
  margin-top: -100px;
}
.hero svg {
  position: absolute;
  rotate: 180deg;
  top: 60%;
  z-index: 1 !important;
}
/* ---- RESPONSIVE ----- */
/* ---- MOBILE ----- */
@media (max-width: 768px) {
  .hero {
    text-align: center;
    height: 90vh;
    margin-bottom: 50px;
  }
  .hero .hero-texts {
    margin: 0 auto;
    width: 100%;
  }
  .hero .hero-texts h1 {
    margin-left: 40px;
    font-size: 1.5rem;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -90px;
  }
  .hero .hero-texts h1 span {
    font-size: 1.8rem;
  }
  .hero .hero-texts h4 {
    width: 300px;
    font-size: 1rem;
  }
  .hero svg {
    display: none;
  }
  .hero .hero-texts .button {
    position: static !important;
    flex-direction: column;
  }
  .hero .hero-texts .button img {
    position: static !important;
  }
  .hero .hero-texts .button span {
    margin-top: -38px;
  }
  .hero .hero-img {
    display: none;
  }
}
/* ---- TABLETS ----- */
@media (max-width: 1024px) and (min-width: 769px) {
  .hero {
    height: 90vh;
    flex-direction: column;
  }
  .hero .hero-texts {
    margin-top: 80px;
  }
  .hero .hero-img img {
    margin-top: -50px;
  }
  .hero svg {
    display: none;
  }
  .hero .hero-texts h1 {
    font-size: 3rem;
    width: 700px;
    line-height: 2;
  }
  .hero .hero-texts h1 span {
    font-size: 3.5rem;
    border-bottom: 5px double var(--mainColor);
  }
  .hero .hero-texts h4 {
    line-height: 1.7;
    width: 700px;
    font-size: 1.5rem;
  }
  .hero .hero-texts .button {
    position: static !important;
    flex-direction: column;
  }
  .hero .hero-texts .button img {
    position: static !important;
    width: 350px;
  }
  .hero .hero-texts .button span {
    margin-top: -60px;
    font-size: 2rem;
  }
  .hero .hero-img img {
    display: none;
  }
}
