@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;500&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --mainColor: #fcb800;
  --dark: #181818;
  --ffPac: "Pacifico", serif;
  --ffPop: "Poppins", serif;
  --fszMobile: 2.2rem;
  --fszTablets: 6rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: var(--ffPop);
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
i,
button {
  cursor: pointer;
}
button,
input,
textarea {
  outline: none;
}
