.popular {
  color: var(--white) !important;
  padding-bottom: 30px !important;
}
.headlineColor {
  color: var(--mainColor);
}
.popular .banner {
  top: 50px;
  right: 150px;
  rotate: 40deg;
  transform: translate(70px, -80px);
}
.popular .banner img {
  width: 300px;
}
.popular .slidImg {
  position: relative;
}
.popular .slidImg img {
  z-index: 14;
  position: relative;
  width: 700px !important;
}
.popular .slidImg .back-text {
  font-size: 8rem;
  position: absolute;
  z-index: 3;
  transform: translate(20%, -25%);
  font-weight: bold;
  letter-spacing: 2px;
}
.popular .banner span {
  color: var(--mainColor);
  font-size: 2rem;
}
.popular .crs {
  margin-top: 0px !important;
}
.popular .carousel-control-prev,
.popular .carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  gap: 30px;
  background-color: var(--mainColor);
  margin-inline: -50px;
}
.popular .items {
  width: 100%;
  transform: translateY(-50px);
  padding-inline: 100px;
  cursor: pointer;
}
.popular .items .order {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular .items .order span {
  font-size: 1.2rem;
}
.popular .items .price {
  font-size: 4rem;
  font-weight: bold;
  color: var(--mainColor);
}
.carousel-item {
  transition: opacity 1s ease-in-out;
}

/* ---- RESPONSIVE ----- */
/* ---- MOBILE ----- */
@media (max-width: 768px) {
  .popular .banner span {
    font-size: 1rem;
  }
  .popular .banner {
    transform: translate(80px, -90px);
  }
  .popular .banner img {
    width: 160px;
  }
  .popular .slidImg img {
    width: 300px !important;
  }
  .popular .slidImg .back-text {
    font-size: 3rem;
    transform: translate(30%, -25%);
  }
  .popular .carousel-control-prev,
  .popular .carousel-control-next {
    margin-inline: 25px !important;
    top: 30% !important;
  }

  .popular .items {
    width: 100%;
    transform: translateY(-20px);
    padding-inline: 10px;
    cursor: pointer;
  }
  .popular .items .order {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popular .items .order span {
    font-size: 1rem;
  }
  .popular .items .order img {
    width: 200px;
  }
  .popular .items .price {
    font-size: 2rem;
    font-weight: bold;
    color: var(--mainColor);
    margin-right: -20px;
  }
}
/* ---- TABLETS ----- */
@media (max-width: 1024px) and (min-width: 769px)  {
  .popular .items {
    transform: translateY(-10px);
  }
}